@mixin transition($property...) {
    -moz-transition-property:    $property;
    -o-transition-property:      $property;
    -webkit-transition-property: $property;
    transition-property:         $property;
}

.scroll-content{
  display: flex;
  flex-direction: column;

  .dialog {
    flex: 2;
  }

  #actions-box{
    flex: 1;
  }
}


%flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
}

%flex-bubble {
  @include transition(width 2s);
  order: 0;
  flex: 1 1 auto;
  align-self: auto;
  padding: 1rem;
  font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
  font-size: 12px;
}

%flex-chat-bubble {
  @extend %flex-bubble;
  @include transition(width 2s);
  flex: 0 1 auto;
  margin-bottom: 1rem;
  color: white;
}

page-home {
  .flex-bubble-padding {
    order: 0;
    flex: 1 1 auto;
    align-self: auto;
  }

  .flex-container-bot {
    @extend %flex-container;

    .flex-chat-bubble {
      @extend %flex-chat-bubble;
      background: rgb(214, 133, 63);
      border-radius: 0 50px 50px 40px;
      text-align: left;
      white-space: pre-line;
    }
  }
  
  .flex-container-user {
    @extend %flex-container;
    flex-direction: row-reverse;

    .flex-chat-bubble {
      @extend %flex-chat-bubble;
      background: transparent;
      color: yellow;
      border: 1px solid white;
      border-radius: 50px 0 50px 40px;
    }
  }

  .flex-container-action {
    @extend %flex-container;
    flex-wrap: wrap;
    align-items: flex-start;

    .flex-action-bubble {
      @extend %flex-bubble;
      background: rgb(214, 133, 63);
      border-radius: 50px;
      margin-right: 1rem;
      color: white;
      margin-bottom: 10px;
      flex:1;
      button {
        border:none;
        background:none;
        font-weight: bold;
        text-align: center;
        color: white;
      }
    }
  }  
}

.wave {
  animation: wave 1.3s linear infinite;

  &:nth-child(2) {
    animation-delay: -1.1s;
  }

  &:nth-child(3) {
    animation-delay: -0.9s;
  }
}
.delay1 {
  animation-delay: -1s;
}

.delay2 {
  animation-delay: -2s;
}

@keyframes wave {
	0%, 60%, 100% {
		transform: initial;
	}

	30% {
		transform: translateY(-10px);
	}
}