<ion-header>
  <ion-navbar>
    <ion-title>BB-8 v.{{version}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <section class="dialog">
    <section id="dialogue-box">
      <div *ngFor="let message of messages">
        <div class="flex-container-{{message.from}}">
          <div class="flex-chat-bubble">
            {{message.text}}
          </div>
          <div class="flex-bubble-padding"></div>
        </div>
      </div>
    </section>

    <section id="dialogue-box" *ngIf="isLoading">
        <div class="flex-container-bot">
          <div class="flex-chat-bubble">
            <svg width="27" height="20" viewPort="0 0 27 10">
              <circle cx="3" cy="15" r="3" fill="white" class="wave"/>
              <circle cx="12" cy="15" r="3" fill="white" class="wave"/>
              <circle cx="21" cy="15" r="3" fill="white" class="wave"/>
            </svg>
          </div>
          <div class="flex-bubble-padding"></div>
        </div>
    </section>
  </section>

  <section id="actions-box">
    <div class="flex-container-action">
      <div *ngFor="let action of actions" (click)="onClickAction(action)" class="flex-action-bubble">
        <button >{{action}}</button>
      </div>
    </div>
  </section>

  <ion-item>
    <ion-label floating>Tapez votre message...</ion-label>
    <ion-input [(ngModel)]="messageInput" (keyup.enter)="sendMessage(messageInput)" type="text">{{messageInput}}</ion-input>
  </ion-item>
</ion-content>
